@charset "utf-8";
/* CSS Document */


body
{
	margin:0;
}

img
{
	border:0;
}

#container
{
	width:1024px;
	height:768px;
	position:relative;
	margin:0 auto;
}
/*page01*/
#index-background
{
	width:1024px;
	height:768px;
	background:url(../images/index-bg.png) no-repeat;
	position:relative;
	margin:0 auto;
}
#txt1{
  background:url(../images/txt1.png) no-repeat;
  width:519px;
  height:57px;
  left:70px;
  top:315px;
  position: absolute;
  margin:0 auto; 
}
#txt2{
  background:url(../images/txt2.png) no-repeat;
  width:583px;
  height:53px;
  left:70px;
  top:385px;
  position: absolute;
  margin:0 auto; 
}
#txt3{
  background:url(../images/txt3.png) no-repeat;
  width:525px;
  height:31px;
  left:70px;
  top:455px;
  position: absolute;
  margin:0 auto; 
}
#txt4{
  background:url(../images/txt4.png) no-repeat;
  width:397px;
  height:25px;
  left:70px;
  top:505px;
  position: absolute;
  margin:0 auto; 
}
#txt5{
  background:url(../images/txt5.png) no-repeat;
  width:434px;
  height:54px;
  left:70px;
  top:555px;
  position: absolute;
  margin:0 auto; 
}





.blinker
        {
            animation:mymove 2s ;
            animation-iteration-count:infinite;
            /* Firefox */
            -moz-animation:mymove 2s ;
            -moz-animation-iteration-count:infinite;
            /* Safari and Chrome */
            -webkit-animation:mymove 2s ;
            -webkit-animation-iteration-count:infinite;
            /* Opera */
            -o-animation:mymove 2s;
            -o-animation-iteration-count:infinite;
        }
		
				@keyframes mymove
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-moz-keyframes mymove /* Firefox */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-webkit-keyframes mymove /* Safari and Chrome */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-o-keyframes mymove /* Opera */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }


@-moz-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.simpleani1 {	
	-webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}

.simpleani2 {	
	-webkit-animation: animation 1s ease-in 1.5s backwards;
  -moz-animation: animation 1s ease-in 1.5s backwards;
  -ms-animation: animation 1s ease-in 1.5s backwards;
  animation:  animation 1s ease-in 1.5s backwards;  
}

.simpleani3 {	
	-webkit-animation: animation 1s ease-in 2s backwards;
  -moz-animation: animation 1s ease-in 2s backwards;
  -ms-animation: animation 1s ease-in 2s backwards;
  animation:  animation 1s ease-in 2s backwards;  
}

.simpleani4 {	
	-webkit-animation: animation 1s ease-in 2.5s backwards;
  -moz-animation: animation 1s ease-in 2.5s backwards;
  -ms-animation: animation 1s ease-in 2.5s backwards;
  animation:  animation 1s ease-in 2.5s backwards;  
}

.simpleani5 {	
	-webkit-animation: animation 1s ease-in 3s backwards;
  -moz-animation: animation 1s ease-in 3s backwards;
  -ms-animation: animation 1s ease-in 3s backwards;
  animation:  animation 1s ease-in 3s backwards;  
}

