@charset "utf-8";
/* CSS Document */


body
{
	margin:0;
}

img
{
	border:0;
}

#container
{
	width:1024px;
	height:768px;
	position:relative;
	margin:0 auto;
}

#page01-background
{
	width:1024px;
	height:768px;
	background:url(../images/3rd_page%20BG.jpg)no-repeat;
	position:relative;
	margin:0 auto;
}

#img1{
background:url(../images/3rd_page_01.png) no-repeat;
width:165px;
height:162px;
left:333px;
top:112px;
position: absolute;
margin:0 auto;
}

#img2{
background:url(../images/3rd_page_02.png) no-repeat;
width:157px;
height:159px;
left:404px;
top:336px;
position: absolute;
margin:0 auto;
}

#img3{
background:url(../images/3rd_page_03.png) no-repeat;
width:181px;
height:164px;
left:328px;
top:562px;
position: absolute;
margin:0 auto;
}

#img4{
background:url(../images/3rd_page_04.png) no-repeat;
width:405px;
height:221px;
left:575px;
top: 272px;
position: absolute;
margin:0 auto;
}



.blinker
        {
            animation:mymove 2s ;
            animation-iteration-count:infinite;
            /* Firefox */
            -moz-animation:mymove 2s ;
            -moz-animation-iteration-count:infinite;
            /* Safari and Chrome */
            -webkit-animation:mymove 2s ;
            -webkit-animation-iteration-count:infinite;
            /* Opera */
            -o-animation:mymove 2s;
            -o-animation-iteration-count:infinite;
        }
		
				@keyframes mymove
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-moz-keyframes mymove /* Firefox */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-webkit-keyframes mymove /* Safari and Chrome */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-o-keyframes mymove /* Opera */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }


@-moz-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.simpleani1 {	
	-webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}

.simpleani2 {	
	-webkit-animation: animation 1.5s ease-in 1.5s backwards;
  -moz-animation: animation 1.5s ease-in 1.5s backwards;
  -ms-animation: animation 1.5s ease-in 1.5s backwards;
  animation:  animation 1.5s ease-in 1.5s backwards;  
}

.simpleani3 {	
	-webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}
.simpleani4 { 
  -webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}

.simpleani5 { 
  -webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}

.simpleani6 { 
  -webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}


.simpleani7 { 
  -webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}
.safe1 {
	-webkit-animation: safe 1s ease-in 0.2s backwards;
  -moz-animation: safe 1s ease-in 0.2s backwards;
  -ms-animation: safe 1s ease-in 0.2s backwards;
  animation:  safe 1s ease-in 0.2s backwards;  
}

.safe2{
	-webkit-animation: safe 1s ease-in 0.8s backwards;
  -moz-animation: safe 1s ease-in 0.8s backwards;
  -ms-animation: safe 1s ease-in 0.8s backwards;
  animation:  safe 1s ease-in 0.8s backwards;  
}

.safe3 {
	-webkit-animation: safe 1s ease-in 1.3s backwards;
  -moz-animation: safe 1s ease-in 1.3s backwards;
  -ms-animation: safe 1s ease-in 1.3s backwards;
  animation:  safe 1s ease-in 1.3s backwards;  
}

.safe4 {
	-webkit-animation: safe 1s ease-in 1.7s backwards;
  -moz-animation: safe 1s ease-in 1.7s backwards;
  -ms-animation: safe 1s ease-in 1.7s backwards;
  animation:  safe 1s ease-in 1.7s backwards;  
}

.safe5 {
	-webkit-animation: safe 1s ease-in 1.4s backwards;
  -moz-animation: safe 1s ease-in 1.4s backwards;
  -ms-animation: safe 1s ease-in 1.4s backwards;
  animation:  safe 1s ease-in 1.4s backwards;  
}

.safe6 {
	-webkit-animation: safe 1s ease-in 1.6s backwards;
  -moz-animation: safe 1s ease-in 1.6s backwards;
  -ms-animation: safe 1s ease-in 1.6s backwards;
  animation:  safe 1s ease-in 1.6s backwards;  
}

.safe7 {
	-webkit-animation: safe 1s ease-in 1.8s backwards;
  -moz-animation: safe 1s ease-in 1.8s backwards;
  -ms-animation: safe 1s ease-in 1.8s backwards;
  animation:  safe 1s ease-in 1.8s backwards;  
}

.safe8 {
	-webkit-animation: safe 1s ease-in 1.10s backwards;
  -moz-animation: safe 1s ease-in 1.10s backwards;
  -ms-animation: safe 1s ease-in 1.10s backwards;
  animation:  safe 1s ease-in 1.10s backwards;  
}

@-moz-keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -moz-transform: scale(1); }
}
@-webkit-keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -webkit-transform: scale(1); }
}
@keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; transform: scale(1); }
}



.strip-slide
{
       transition:all 2s;
            -moz-transition:all 2s;
            -o-transition:all 2s;
            -webkit-transition:all 2s;
}


