@charset "utf-8";
/* CSS Document */


body
{
	margin:0;
}

img
{
	border:0;
}

#container
{
	width:1024px;
	height:768px;
	position:relative;
	margin:0 auto;
}

#img1{
background:url(../images/Mitinab_VA_01.png) no-repeat;
width:295px;
height:221px;
left:723px;
top: 413px;
position: absolute;
margin:0 auto;
}

#img2{
background:url(../images/Mitinab_VA_00.png) no-repeat;
width:322px;
height:116px;
left:395px;
top: 483px;
position: absolute;
margin:0 auto;
}

#page02-background
{
  width:1024px;
  height:768px;
  background:url(../images/Mitinab_VA%20BG%20Image.png)no-repeat;
  position:relative;
  margin:0 auto;
}

#txt2{
  background:url(../images/Mitinab_VA_02.png)no-repeat;
width:0px;
height:79px;
left:318px;
top:207px;
position: absolute;
margin:0 auto;
}

#txt3{
  background:url(../images/Mitinab_VA_03.png)no-repeat;
width:0px;
height:79px;
left:399px;
top:330px;
position: absolute;
margin:0 auto;
}
.blinker
        {
            animation:mymove 2s ;
            animation-iteration-count:infinite;
            /* Firefox */
            -moz-animation:mymove 2s ;
            -moz-animation-iteration-count:infinite;
            /* Safari and Chrome */
            -webkit-animation:mymove 2s ;
            -webkit-animation-iteration-count:infinite;
            /* Opera */
            -o-animation:mymove 2s;
            -o-animation-iteration-count:infinite;
        }
		
				@keyframes mymove
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-moz-keyframes mymove /* Firefox */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-webkit-keyframes mymove /* Safari and Chrome */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }
        
        @-o-keyframes mymove /* Opera */
        {
            0%{opacity:0.5;}
            50% {opacity:1;}
            100%{opacity:0.5;}
        }


@-moz-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.simpleani1 {	
	-webkit-animation: animation 1s ease-in 1s backwards;
  -moz-animation: animation 1s ease-in 1s backwards;
  -ms-animation: animation 1s ease-in 1s backwards;
  animation:  animation 1s ease-in 1s backwards;  
}

.simpleani2 {	
	-webkit-animation: animation 1s ease-in 1.5s backwards;
  -moz-animation: animation 1s ease-in 1.5s backwards;
  -ms-animation: animation 1s ease-in 1.5s backwards;
  animation:  animation 1s ease-in 1.5s backwards;  
}

.simpleani3 {	
	-webkit-animation: animation 1s ease-in 2s backwards;
  -moz-animation: animation 1s ease-in 2s backwards;
  -ms-animation: animation 1s ease-in 2s backwards;
  animation:  animation 1s ease-in 2s backwards;  
}
.simpleani4 { 
  -webkit-animation: animation 1s ease-in 2.5s backwards;
  -moz-animation: animation 1s ease-in 2.5s backwards;
  -ms-animation: animation 1s ease-in 2.5s backwards;
  animation:  animation 1s ease-in 2.5s backwards;  
}

.simpleani5 { 
  -webkit-animation: animation 1s ease-in 3s backwards;
  -moz-animation: animation 1s ease-in 3s backwards;
  -ms-animation: animation 1s ease-in 3s backwards;
  animation:  animation 1s ease-in 3s backwards;  
}


.safe1 {
	-webkit-animation: safe 1s ease-in 0.2s backwards;
  -moz-animation: safe 1s ease-in 0.2s backwards;
  -ms-animation: safe 1s ease-in 0.2s backwards;
  animation:  safe 1s ease-in 0.2s backwards;  
}

.safe2 {
	-webkit-animation: safe 1s ease-in 1.5s backwards;
  -moz-animation: safe 1s ease-in 1.5s backwards;
  -ms-animation: safe 1s ease-in 1.5s backwards;
  animation:  safe 1s ease-in 1.5s backwards;  
}

.safe3 {
	-webkit-animation: safe 1s ease-in 1.2s backwards;
  -moz-animation: safe 1s ease-in 1.2s backwards;
  -ms-animation: safe 1s ease-in 1.2s backwards;
  animation:  safe 1s ease-in 1.2s backwards;  
}

.safe4 {
	-webkit-animation: safe 1s ease-in 2.5s backwards;
  -moz-animation: safe 1s ease-in 2.5s backwards;
  -ms-animation: safe 1s ease-in 2.5s backwards;
  animation:  safe 1s ease-in 2.5s backwards;  
}

@-moz-keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; -moz-transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -moz-transform: scale(1); }
}
@-webkit-keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; -webkit-transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; -webkit-transform: scale(1); }
}
@keyframes safe {
  0% { opacity: 0; text-shadow: 0px 0px 40px #fff; transform: scale(0.7); }
  50% { opacity: 1; text-shadow: 0px 0px 40px #fff; transform: scale(1.3); }
  100% { opacity: 1; text-shadow: 0px 0px 1px #fff; transform: scale(1); }
}
.strip-slide
{
       transition:all 2s;
            -moz-transition:all 2s;
            -o-transition:all 2s;
            -webkit-transition:all 2s;
}
